.main_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: rgb(115, 202, 215);
    height: 3.5rem;
}

.content_area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .content_area {
        /*
            Mobile specific styles
        */
    }
}

/* Tablet devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content_area {
        /*
            Tablet specific styles
        */
    }
}

/* Desktop devices (992px and above) */
@media only screen and (min-width: 992px) {
    .content_area {
        flex-direction: row;
    }
}

.app_view {
    background-color: rgb(153, 115, 215);
    flex-grow: 1;
}

.footer_area {
    background-color: rgb(215, 115, 157);
    height: 4rem;
}