.main_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: rgb(115, 202, 215);
    height: 3.5rem;
}

.content_area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .footer_area {
        padding: 0 2rem 0 2rem;
    }
}

/* Tablet devices (768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .footer_area {
        padding: 0 6rem 0 6rem;
    }
}

/* Desktop devices (992px and above) */
@media only screen and (min-width: 992px) {
    .content_area {
        flex-direction: row;
    }
    .footer_area {
        padding: 0 21rem 0 21rem;
    }
}

.app_view {
    padding: 1rem 2rem 1rem 2rem;
    max-width: 100%;
    flex-grow: 1;
}

.footer_area {
    border-top: 1px solid rgb(231, 231, 231);
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}