.route-list-area {
    height: 465px;
    overflow-y: scroll;
}

.no-data-message-box {
    height: 435px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 22rem;
    padding-left: 2rem;
    padding-right: 2rem;
}