/*
Styles common to all pages
*/

.vertical-flex-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;
}

.horizontal-flex-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    height: 470px;
}